{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
 <link rel="icon" href="images/logos/python.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    header{
        background-color: #3398E1;
    }

    p {
        padding-right: 200px;
        padding-left: 200px;
        padding-top: 25px;
    }
    .top_one{
        padding-top: 50px;
    }




</style>

<header class="masthead">
    <div class="overlay"></div>
        <div class="row">
            <h3 class=" site-heading my-4 mt-3 text-white" style="padding-left: 70px">
              License
            </h3>
        </div>
</header>
<body>
  <dive>
    <p class="w3-large top_one" style="font-weight: bold">PyCR Program LICENSE AGREEMENT</p>
    <p>This license agreement (“Agreement”) is by and between The Governors of the University of Alberta (“University”) and the You (“Licensee”), each a party and together the parties. Any use, installation, modification, or distribution of the PyCR software in whole or in part constitutes the Licensee’s acceptance of the following terms and conditions of this Agreement.</p>
    <p style="font-weight: bold"> 1.DEFINTIONS</p>
      <p>a. “Licensed Work” shall mean the PyCR program developed by Dr. Michael Sorochan Armstrong, Dr. James Harynuk, and Wenwen Li and assigned to the University; as well as all accompanying training materials, future versions and other related information provided in relation to the PyCR program.</p>
      <p>b. “Permitted Purpose” shall mean the use of the Licensed Work by Licensee for all non-commercial research purposes that require the Licensee to use PyCR for the purposes of data analysis.</p>
      <p style="font-weight: bold"> 2.GRANT OF LICENSE</p>
      <p>Subject to the terms and conditions of this Agreement and effective as of the date the Licensee accesses the PyCR program (“Effective Date”), University hereby grants to Licensee and Licensee hereby accepts a non-exclusive, non-transferrable license to use the Licensed Work for the Permitted Purpose.</p>
      <p style="font-weight: bold"> 3.PROHIBITED USES</p>
      <p>Licensee must not make any other use of the Licensed Work except as provided for in this Agreement or in a separate license agreement with University. In particular, but without limitation, Licensee must not:</p>
      <p>a. Modify, adapt or create any other derivative work of the Licensed Work, including translations, electronic versions, and software applications of the Licensed Work;</p>
      <p>b. Sell, sublicense, rent, loan, transfer or otherwise distribute the Licensed Work to any other person other than as required in connection with the Permitted Purpose;</p>
      <p>c. Remove or obscure any copyright, trade-mark or other proprietary notices contained in or associated with the Licensed Work.</p>
      <p>d. Subject to section 5, use the name of the University or the creators or any of their trademarks or service marks to endorse or promote products derived from the Licensed Work without specific prior written permission.</p>
      <p style="font-weight: bold"> 4.ACKNOWLEDGMENT OF COPYRIGHT</p>
      <p>Licensee acknowledges that the Licensed Work is protected by copyright and other intellectual property rights. Licensee acknowledges that University owns all rights in the Licensed Work.</p>
      <p style="font-weight: bold"> 5.PUBLICATION</p>
      <p>All publications that are based on or utilize the Licensed work shall be cited appropriately and include the following notice: PyCR was created by Dr. Michael Sorochan Armstrong, Dr. James Harynuk, and Wenwen Li and used here under license from the University of Alberta; based on the original work available from <a href="https://github.com/Rikyyyyyyyyyy/PyCR" target="_blank" style="color: #5b9bd5">https://github.com/Rikyyyyyyyyyy/PyCR</a></p>
      <br>
      <br>
      <br>
      <br>
      <br>
  </dive>
</body>

{%endblock%}