{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="icon" href="images/logos/python.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text{
        color: white;
    }
    header{
        background-color: #3398E1;
    }

    .w3-text-teal{
        font-size: 20px;
    }

</style>
<header class="masthead">
    <div class="overlay"></div>
        <div class="row">
            <h3 class=" site-heading my-4 mt-3 text-white" style="padding-left: 70px">
              Projects
            </h3>
        </div>
</header>
<body>
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Algae metabolomics</h1>
      <p>Armstrong, Michael D. Sorochan, et al. "Global metabolome analysis of Dunaliella tertiolecta, Phaeobacter italicus R11 Co-cultures using thermal desorption-Comprehensive two-dimensional gas chromatography-Time-of-flight mass spectrometry (TD-GC× GC-TOFMS)." Phytochemistry 195 (2022): 113052.</p>
    </div>
    <div class="w3-third w3-container">
        <img width="300" height="300" src="/images/about_project_pics/project_1_1.jpg">
    </div>
  </div>

  <div class="w3-row">
      <div class="w3-third w3-container">
      <img width="300" height="200" src="/images/about_project_pics/project2.webp">
    </div>
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Fabric odour analysis</h1>
      <p>de la Mata, A. Paulina, et al. "Comprehensive two-dimensional gas chromatographic profiling and chemometric interpretation of the volatile profiles of sweat in knit fabrics." Analytical and bioanalytical chemistry 409.7 (2017): 1905-1913.</p>
    </div>
  </div>

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Biofluid metabolomics</h1>
      <p>Nam, Seo Lin, et al. "Towards standardization of data normalization strategies to improve urinary metabolomics studies by gc× gc-tofms." Metabolites 10.9 (2020): 376.</p>
    </div>
    <div class="w3-third w3-container">
      <img width="300" height="300" src="/images/about_project_pics/project3.jpeg">
    </div>
  </div>

   <div class="w3-row w3-padding-64">
       <div class="w3-third w3-container">
      <img width="300" height="300" src="/images/about_project_pics/project4.jpg">
    </div>
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Forensics</h1>
      <p>Sinkov, Nikolai A., P. Mark L. Sandercock, and James J. Harynuk. "Chemometric classification of casework arson samples based on gasoline content." Forensic Science International 235 (2014): 24-31.</p>
      <p>Adutwum, Lawrence A., Robin J. Abel, and James Harynuk. "Total ion spectra versus segmented total ion spectra as preprocessing tools for gas chromatography–mass spectrometry data." Journal of forensic sciences 63.4 (2018): 1059-1068.</p>
    </div>

   </div>
</div>
</body>

{%endblock%}