{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="icon" href="images/logos/python.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .cite_container{
        padding: 80px;
        padding-left: 250px;
    }
    header{
        background-color: #3398E1;
    }
    a { text-decoration: none; }



</style>

<header class="masthead">
    <div class="overlay"></div>
        <div class="row">
            <h3 class=" site-heading my-4 mt-3 text-white" style="padding-left: 70px">
              Cite
            </h3>
        </div>
</header>

<body>
<div class="w3-row w3-padding-64 cite_container">
    <div class="w3-twothird w3-container">
        <a href="https://www.sciencedirect.com/science/article/pii/S0039914010008210" target="_blank"><h2 class="w3-text-teal">Original cluster resolution paper  </h2></a>
      <p id="cite_text">Sinkov, Nikolai A., and James J. Harynuk. "Cluster resolution: A metric for automated, objective and optimized feature selection in chemometric modeling." Talanta 83.4 (2011): 1079-1087.</p>
    </div>
    <div class="w3-third w3-container">
      <!-- The button used to copy the text -->
<!--        <button onclick="copyToClipboard(document.getElementById('cite_text').innerHTML)" class="bt btn-primary">Google Cite</button>-->
        <a href="https://scholar.google.ca/scholar?hl=en&as_sdt=0%2C5&q=Cluster+resolution%3A+A+metric+for+automated%2C+objective+and+optimized+feature+selection+in+chemometric+modeling.&btnG=#d=gs_cit&t=1654630878661&u=%2Fscholar%3Fq%3Dinfo%3Ab4GLcjTpgTUJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Den" target="_blank"><button class="bt btn-primary">Google Scholar</button></a>
    </div>
  </div>
    <div class="w3-row w3-padding-64 cite_container">
    <div class="w3-twothird w3-container">
        <a href="https://analyticalsciencejournals.onlinelibrary.wiley.com/doi/abs/10.1002/cem.3346" target="_blank"><h2 class="w3-text-teal">Numerical determination of cluster resolution</h2></a>
      <p id="cite_text1">Armstrong, Michael Sorochan, A. Paulina de la Mata, and James J. Harynuk. "An efficient and accurate numerical determination of the cluster resolution metric in two dimensions." Journal of Chemometrics 35.7-8 (2021): e3346.</p>
    </div>
    <div class="w3-third w3-container">
      <!-- The button used to copy the text -->
<!--        <button onclick="copyToClipboard(document.getElementById('cite_text').innerHTML)" class="bt btn-primary">Google Cite</button>-->
        <a href="https://scholar.google.ca/scholar?hl=en&as_sdt=0%2C5&q=An+efficient+and+accurate+numerical+determination+of+the+cluster+resolution+metric+in+two+dimensions&btnG=#d=gs_cit&t=1654630905402&u=%2Fscholar%3Fq%3Dinfo%3ANoeaXt7uhb4J%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Den" target="_blank"><button class="bt btn-primary">Google Scholar</button></a>
    </div>
  </div>
    <div class="w3-row w3-padding-64 cite_container">
    <div class="w3-twothird w3-container">
        <a href="https://link.springer.com/article/10.1007/s00216-017-0628-8" target="_blank"><h2 class="w3-text-teal">Start/stop number determination (historical)</h2></a>
      <p id="cite_text2">Adutwum, Lawrence A., et al. "Estimation of start and stop numbers for cluster resolution feature selection algorithm: an empirical approach using null distribution analysis of Fisher ratios." Analytical and bioanalytical chemistry 409.28 (2017): 6699-6708.</p>
    </div>
    <div class="w3-third w3-container">
      <!-- The button used to copy the text -->
<!--        <button onclick="copyToClipboard(document.getElementById('cite_text').innerHTML)" class="bt btn-primary">Google Cite</button>-->
        <a href="https://scholar.google.ca/scholar?hl=en&as_sdt=0%2C5&q=Estimation+of+start+and+stop+numbers+for+cluster+resolution+feature+selection+algorithm%3A+an+empirical+approach+using+null+distribution+analysis+of+Fisher+ratios.&btnG=#d=gs_cit&t=1654630929967&u=%2Fscholar%3Fq%3Dinfo%3AxMTyHL6H4ysJ%3Ascholar.google.com%2F%26output%3Dcite%26scirp%3D0%26hl%3Den" target="_blank"><button class="bt btn-primary">Google Scholar</button></a>
    </div>
  </div>
</body>

<!--<script type="application/javascript">-->

<!--    function copyToClipboard(text) {-->
<!--        window.prompt("Copy to clipboard: Ctrl+C, Enter", text);-->
<!--    }-->
<!--</script>-->


{%endblock%}