{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text{
        color: white;
    }
    header{
        background-color: #3398E1;
    }

    .container_contri{
        padding: 60px;
    }
    .container_contri2{
        padding: 60px;
        float: left;
    }
    .first-word-uppercase-p::first-letter {
      font-size: 40px;
      font-weight: bold;
    }


</style>

<header class="masthead">
    <div class="overlay"></div>
        <div class="row">
            <h3 class=" site-heading my-4 mt-3 text-white" style="padding-left: 70px">
              Contributor
            </h3>
        </div>
</header>

<body>
<div class="container_contri">
    <div class="w3-col w3-padding-large">
        <p class="w3-large first-word-uppercase-p w3-text-grey" > The concepts underpinning the Feature Selection by PyCR project have been in development in the Harynuk Group at the University of Alberta since 2007. By 2022, we were in a position to release this web-based feature selection tool.  Key Harynuk Group personnel who have contributed to this project over the years are listed below.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-blue">
        <img src="/images/aboutPage/contributors/James.jpeg" style="width:100%">
        <h2>James Harynuk </h2>
        <p>Principal Investigator</p>
      </div>
    </div>
    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-blue">
        <img src="/images/aboutPage/contributors/Paulina.jpg" style="width:100%">
        <h2>Paulina de la Mata</h2>
        <p>Research Associate</p>
        </div>
    </div>

    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-blue">
        <img src="/images/aboutPage/contributors/Michael.png" style="width:100%">
        <h2>Michael Sorochan Armstrong</h2>
        <p>PhD Alumnus (machine learning)</p>
      </div>
    </div>

    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-blue">
        <img src="/images/aboutPage/contributors/wenwenLi.jpg" style="width:100%">
        <h2>Wenwen Li</h2>
        <p>Software Developer (cloud computing and web development)</p>
      </div>
    </div>


</div>
<div class="container_contri2" >
    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-blue">
          <img src="/images/aboutPage/contributors/Nikolai.jpeg" style="width:100%">
          <h2>Nikolai Sinkov</h2>
          <p>PhD Alumnus (chemometrics and machine learning)</p>
          <b>PhD thesis Title:</b> <a href="https://era.library.ualberta.ca/items/b2430d8f-e4c3-4810-98c6-eb75df48b6d4/view/537efb70-20cf-4c89-92fd-31667508acce/Sinkov_Nikolai_Spring_2013.pdf" target="_blank"><p>Alignment and Variable Selection Tools for Gas Chromatography – Mass Spectrometry Data </p></a>
      </div>
    </div>

    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-blue">
          <img src="/images/aboutPage/contributors/lawance.jpeg" style="width:100%">
          <h2>Lawrence asamoah adutwum</h2>
          <p>PhD Alumnus (chemometrics and machine learning)</p>
          <b>PhD thesis Title:</b> <a href="https://era.library.ualberta.ca/items/d5b4ace1-acf2-42a4-958b-b387b280a136/download/ecea0277-0101-4624-806d-23a1019d0311" target="_blank"><p>Data Reduction and Feature Selection for Chemometric Analysis</p></a>
      </div>
    </div>
    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-white">
        <h2 style="color: white">Place Holder</h2>
      </div>
    </div>
    <div class="w3-quarter w3-container">
      <div class="w3-topbar w3-border-white">
        <h2 style="color: white">Place Holder</h2>
      </div>
    </div>

</div>
</body>

{%endblock%}