<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <link rel="icon" href="images/logos/python.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title> PyCR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    body{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #ffffff;

    }

    .shadow {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    }
    .tmic_logo{
        padding-bottom: 10px;
    }
</style>
<body>
    <!-- Navigation -->
    <div class="container" id="id_loading_spinner" style="display: none;">
        <div class="d-flex flex-row mx-auto flex-grow-1 justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr_only"> Loading....</span>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
        <div class="container-fluid">
            <div class="tmic_container">
                <a target="_blank" href="https://metabolomicscentre.ca/"><img  class="tmic_logo" style="padding-top: 5px" width="100" height="50" src="/images/logos/tmic_logo.png" ></a>
            </div>

            <button class="navbar-toggler  collapsed navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'index' %}">Home</a>
                        </li>
                    <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="https://spaces.facsci.ualberta.ca/harynuk/" target="_blank">Harynuk Group</a>
                        </li>
                    <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'buyMeCoffee'%}">Donate</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'feature_task_list' %}">PyCR</a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'profile' user_id=request.user.id %}">Account</a>
                        </li>
                         <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a>
                        </li>

                        {% else %}
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Sign In</a>
                        </li>

                        {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
     <!--Content Goes Here-->
    {% endblock content%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>