{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title> TMIC Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <style type="text/css">
        body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
        header{
        background-color: #3398E1;
        }

    .head_text{
        color: white;
    }
    .image_container{
        width:300px;
        height:300px;
        padding-top: 15px;
    }
    .container img{
        max-height: 500px;
        height: 70%;
        width: auto;
    }

    </style>

    {% csrf_token %}
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">
                        Personal Profile
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class = "container">
    <div class ="personal_info col-md-8 col-md-10 mx-auto">
        {% if user.is_authenticated %}
            <div class ="personal_info">
                <div class ="image_container">
                    <img class ="profile_pic" src="{{image_url}}">
                </div>
                <h4>Username</h4>
                <p id = 'username'>{{username}}</p>
                <h4>Email</h4>
                <p id="email">{{email}}</p>
            </div>
        {% else %}
            Please sign up/ login
        {% endif %}
        <a class="btn btn-primary btn-sm" href="{% url 'edit'  user_id=user_id %}">Update</a>
    </div>

</div>
</body>
</html>
{% endblock content%}