{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }


       header{
        background-color: #3398E1;
    }


</style>
 <link rel="icon" href="images/logos/python.png">
<header class="masthead">
    <div class="overlay"></div>
        <div class="row">
            <h3 class=" site-heading my-4 mt-3 text-white" style="padding-left: 70px">
              Thank you for your contribution of ${{ amount }}!
            </h3>
        </div>
</header>

{%endblock%}