{% extends 'homepage/base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }


       header{
        background-color: #3398E1;
    }
       p{
           padding: 50px;
           font-size: 25px;
       }


</style>
 <link rel="icon" href="images/logos/python.png">
<header class="masthead">
    <div class="overlay"></div>
        <div class="row">
            <h3 class=" site-heading my-4 mt-3 text-white" style="padding-left: 70px"> Successfully donated ${{amount}}</h3>
        </div>
</header>
<body>
    <div >
    <img width="100%" src="/images/stripe/Thank_donation.png">
    </div>
</body>

{%endblock%}